services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: project-api
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__Database=Host=postgres-project;Database=project_db;Username=postgres;Password=postgres
      - ConnectionStrings__Redis=redis:6379
      - RabbitMQ__Host=rabbitmq-project
      - RabbitMQ__Username=admin
      - RabbitMQ__Password=admin
    depends_on:
      - postgres
      - redis
      - rabbitmq
    networks:
      - project-network
    restart: unless-stopped

  postgres:
    image: postgres:18
    container_name: postgres-project
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=project_db
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - project-network

  redis:
    image: redis:8-alpine
    container_name: redis-project
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    networks:
      - project-network

  mailpit:
    image: axllent/mailpit:latest
    container_name: mailpit-project
    ports:
      - "25:1025"
      - "8080:8025" 
    networks:
      - project-network
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin-project
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres
    networks:
      - project-network
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:4-management-alpine
    container_name: rabbitmq-project
    ports:
      - "5672:5672" 
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - project-network
    restart: unless-stopped


volumes:
  postgres_data:
  redis_data:
  pgadmin_data:
  rabbitmq_data:


networks:
  project-network:
    driver: bridge
